.background_all {
  background-image: url("../../public/assets/img/login-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.background_reset {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.background_resetdetail {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
<<<<<<< HEAD

=======
>>>>>>> 2663665387ee226401d4e94ef8fd2388f24b7a97
.glass {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  @apply border-4 border-gray-50 shrink-0 h-[auto] w-[60%] rounded-3xl py-20 px-7 min-w-max;
}

.btn_social {
  margin: 0 auto;
}

.profile_img {
  @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
  @apply hover:border-gray-200;
}

.textbox {
  @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg;
  @apply focus:outline-none;
}

.btn {
  @apply border bg-indigo-500 w-3/4 py-4 rounded-lg text-black text-xl shadow-sm text-center;
  background-color: #87dee3;
}

<<<<<<< HEAD
=======
.btn_savechange {
  @apply border bg-white w-1/4 py-4 rounded-lg text-black text-xl shadow-sm text-center;
  background-color: #fff;
}

>>>>>>> 2663665387ee226401d4e94ef8fd2388f24b7a97
.btn:hover {
  background-color: #ff6a6a;
}

input[type="file"] {
  display: none;
}

.line_divided {
  background-color: #87dee3;
  font-size: 14px;
  line-height: 18px;
  height: 1px;
  width: calc(70% / 2);
  margin: auto;
}

.orText {
  padding: 0 10px;
  margin: auto -10%;
  color: #0b6267;
}
.orLine {
  margin-top: 8%;
  margin-bottom: 4%;
}
<<<<<<< HEAD

.btn_savechange {
  @apply border bg-white w-1/4 py-4 rounded-lg text-black text-xl shadow-sm text-center;
  background-color: #fff;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.btn_savechange2 {
  @apply border bg-white w-2/4 py-4 rounded-lg text-black text-xl shadow-sm text-center;
  background-color: #fff;
}
=======
>>>>>>> 2663665387ee226401d4e94ef8fd2388f24b7a97
