@import url(//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);

html {
  scroll-behavior: smooth;
}

.startBtn {
  color: black;
  background-color: white;
  padding: 10px 30px;
  border-radius: 25px;
}

.startBtn:hover {
  transform: scale(1.05) perspective(0px);
  cursor: pointer;
}

.moreBtn {
  border: 3px solid white;
  padding: 10px 30px;
  border-radius: 25px;
}

.moreBtn:hover{
  transform: scale(1.05) perspective(0px);
  cursor: pointer;
}

.tryByDay{
  color: black;
  background-color: white;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: bold;
}

.tryByDay:hover{
  transform: scale(1.05) perspective(0px);
  cursor: pointer;
}

.tryByWeek{
  color: black;
  background-color: white;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: bold;
}

.tryByWeek:hover{
  transform: scale(1.05) perspective(0px);
  cursor: pointer;
}

.iconWhy{
  background-color: #F5EBEB;
  padding: 20px;
  border-radius: 50%;
}

.title1{
font-weight: 700 !important;
}

.title2{

}