.container {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn:hover {
  background-color: #45a049;
}

.searchfilter {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 50px;
    padding: 7px 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 200px;
  }
  
.search {
    border: none;
    background-color: transparent;
    margin-left: 10px;
    font-size: 16px;
    width: 200px;
    color: #333;
  }
  
.search::placeholder {
    color: #999;
  }
  
.search:focus {
    outline: none;
  }
  .pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination a {
    margin: 0 4px;
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer;
  }
  
  .pagination .active a {
    background-color: #ff0084;
    color: #fff;
  }

  