@tailwind components;
@tailwind base;
@tailwind utilities;

body {
  background-color: #f7f8f6;
  color: #0b101e;
}
* > * {
  font-family: "SangBleu Sunrise";
}

main {
  position: relative;
  z-index: 1;
}

::selection {
  background-color: black;
  color: white;
}
