@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url(//db.onlinewebfonts.com/c/5ebc09361aef4dbfa14ad8492b8cca11?family=SangBleu+Sunrise);
@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "SangBleu Sunrise";
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

